
.ticket-preview,
.ticket-headings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #f4f4f4;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
}

.ticket-headings {
    font-weight: 700;
}

.status {
    background-color: #333;
    color: #fff;
    width: 100px;
    padding: 0 20px;
    justify-self: center;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
}

.status-new {
    background-color: green;
    color: #fff;
    border-radius: 10px;
}

.status-open {
    background-color: steelblue;
    color: #fff;
    border-radius: 10px;
}

.status-closed {
    background-color: darkred;
    color: #fff;
    border-radius: 10px;
}
