.ticket-created {
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	padding: 50px;
}

.ticket-number {
	margin-bottom: 30px;
}

.ticket-number h2 {
	font-size: 2.3rem;
	margin-bottom: 10px;
}

.ticket-number p {
	font-size: 1.3rem;
}

.ticket-info {
	font-size: 1.3rem;
}

.note-head {
	background: #f4f4f4;
	padding: 5px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

p.status-in-progress {
	color: orangered;
}

p.status-waiting {
	color: red;
}

p.status-ready {
	color: steelblue;
}

p.status-complete {
	color: green;
}

footer {
	position: sticky;
	top: 95vh;
	text-align: center;
}